<!DOCTYPE html>
<html lang="@(Context.Request.Query["culture"].ToString() == "en" ||
    Context.Request.Query["culture"].ToString() == "fr" ||
    Context.Request.Query["culture"].ToString() == "en-CA" ||
    Context.Request.Query["culture"].ToString() == "fr-CA"  ?
    Context.Request.Query["culture"].ToString() : "en")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment exclude="Development">
        <title>Mordy Golf</title>
        <link rel="stylesheet" href="~css/mg.min.css" asp-append-version="true" />
        <script src="~/js/mg.min.js" asp-append-verison="true" defer></script>
    </environment>
    <environment include="Development">
        <title>Mordy Golf</title>
        <link rel="stylesheet" href="~/css/mg.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/mg-print.css" media="print" asp-append-version="true" />

        <!-- TODO: Get Hamburger icon elsewhere -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="~/js/mg-index.js" asp-append-version="true" defer></script>
    </environment>

</head>
<body class="mg">
    <header>
        <nav class="nav" id="navBar">            
            <a href="/Home">Home</a>
            <a href="/FAQs">FAQs</a>
            <a href="/TeeTime">Book A Tee Time</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()"><i class="fa fa-bars"></i></a>
        </nav>
    </header>
    <div class="container">
        @RenderBody()

        @RenderSection("Scripts", required: false)
    </div>

    <footer>
        <h2><span>Contact us</span></h2>
        <div class="links">
            <span class="mg-address">Canada</span>|
            <span class="mg-phone">123-456-7890</span>|
            <a class="mg-email" href="mailto:support@mordygolf.com">support@mordygolf.com</a>
            <a class="mg-faq">FAQ</a>
            <a class="mg-book-a-tee-time">Book A Tee Time</a>
        </div>
    </footer>



</body>
</html>
