@{
    ViewData["Title"] = "Home Page";
}
    <div class="content">
        <div class="mordygolf-header-section">
            <div class="text-center">
                <h1 class="display-4">Welcome to MordyGolf</h1>
                <h4>Description info</h4>
                <p>Mordy Golf is a great tool to manage Tee Times, with features such as:
                    <ul>
                        <li>Book a Tee Time</li>
                        <li>View your booked Tee Times</li>
                        <li>View nearby golf courses</li>
                        <li>View course scorecards</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
