
@{
    ViewData["Title"] = "BookTeeTime";
}

<h1>@Resources.TeeTime.BookATeeTime</h1>

<div>
    <!--Add Course Picker-->
    <!--Add Date Picker... Show available times-->
    <!--Add Time Picker-->
    <!--Add Number of Holes Picker-->
    <!--Add Number of Players Picker-->
</div>

