$BaseFontSize: 16px;

$White: #fff;

/*Green Shades*/
$GreenShade1-1: #00ff21;
$GreenShade1-2: #00ff22;

/*Status Colours*/
$GreenStatus: #00ff21;
$RedStatus: #ff0000;

/*Fonts*/
$MaterialIcons: 'Material Icons';