$black: #202327;
$anchorvisited: #00ff90;
$grey: #a4a4a4;
$lightgreen: #55e42c;
$green: #00ff90;
$white: #fff;
$offwhite: #f1e1e1;
$chevron: #808080;


$positive: #55e42c;
$negative: #ff0000;

$carditemborder: #496eff;


$padding-mobile: 10px;
$padding-tablet: 15px;
$padding-desktop: 20px;

$default-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;